.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/ListenUp!/bin/classes/edu/berkeley/cs160/jaguars/listenup/
*.class
*.un~
/.idea/*
gradle/
homeSync.sh
syncToGit.sh
gradlew
gradlew.bat
ListenUp.iml
